@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Inclusive+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .cat {
    @apply border flex items-center justify-center rounded p-1 bg-gray-100 text-blue-700 text-sm relative before:content-['-'] before:absolute before:-top-2 before:-right-1 before:bg-red-500 before:h-3 before:w-3 before:rounded-full before:hidden before:items-center before:justify-center before:text-white before:text-xs before:hover:flex cursor-pointer;
  }
}

::-webkit-scrollbar {
  display: none;
}

input:focus {
  --tw-ring-shadow: 0 0 !important;
}
